.final_v_header{
    text-align: center;
    font-size: 1.875rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
    color: oklch(0.37 0.04 257.44);
}


@media (prefers-color-scheme: dark) {
    .final_v_header {
        color: #f1f5f9;
    }
}